html {
    height: 100%;
    width: 100%;
}
body {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Consolas, Arial, serif;
}
h1 {
    font-size: 22pt;
}
h2 {
    font-size: 18pt;
}
#message {
    font-size: 20px;
    height: 40px;
    transition: all 0.4s;
}
.showing {
    opacity: 1;
}
.hiding {
    opacity: 0;
}
canvas {
    height: 320px;
    width: 510px;
    cursor: pointer;
}
#wall_sample {
    width: 100px;
    height: 30px;
    border: solid black 2px;
    background-color: #EDEDED;
    margin: 0 auto;
}
p {
    font-weight: bold;
    font-size: 15pt;
}