html {
    height: 100%;
    width: 100%;
}
body {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
canvas {
    height: 370px;
    width: 510px;
    cursor: pointer;
}
#wall_sample {
    width: 100px;
    height: 30px;
    border: solid black 2px;
    background-color: #EDEDED;
    margin: 0 auto;
}
p {
    font-weight: bold;
}