body {
    text-align: center;
}
h1 {
    font-size: 35px;
}
span {
    font-size: 20px;
    color: darkgreen;
}
#file-area {
    width: 120px;
    height: 30px;
    background-color: #4286F5;
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 5px grey;
    border: none;
    font-size: 21px;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}
#file:hover {
    cursor: pointer;
}
#file {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
p {
    height: 20px;
}
#playground {
    height: 500px;
    width: 500px;
    margin: 20px auto 25px;
    text-align: left;
}
.pieces {
    width: 123px;
    height: 123px;
    border: 1px solid #b0afaf;
    background-image: url("panda.jpg");
    background-size: 500px 500px;
    display: inline-block;
    margin: 0 auto -4px;
    padding: 0;
    font-size: 0;
    position: relative;
    top: 0;
    left: 0;
}
.pieces:hover {
    cursor: pointer;
    transform: scale(1.03);
}
.piece-0 {
    background-position: 0px 0px;
}
.piece-1 {
    background-position: 375px 0px;
}
.piece-2 {
    background-position: 250px 0px;
}
.piece-3 {
    background-position: 125px 0px;
}
.piece-4 {
    background-position: 0px 375px;
}
.piece-5 {
    background-position: 375px 375px;
}
.piece-6 {
    background-position: 250px 375px;
}
.piece-7 {
    background-position: 125px 375px;
}
.piece-8 {
    background-position: 0px 250px;
}
.piece-9 {
    background-position: 375px 250px;
}
.piece-10 {
    background-position: 250px 250px;
}
.piece-11 {
    background-position: 125px 250px;
}
.piece-12 {
    background-position: 0px 125px;
}
.piece-13 {
    background-position: 375px 125px;
}
.piece-14 {
    background-position: 250px 125px;
}
.piece-15 {
    background-position: 125px 125px;
}
#blank {
    width: 115px;
    height: 115px;
    display: inline-block;
    margin: 0 auto -4px;
    padding: 0;
    font-size: 0;
    position: relative;
    background: white;
    opacity: 0;
    border: red solid 5px;
    top: 0;
    left: 0;
}
#blank:hover {
    cursor: auto;
}
.click {
    width: 120px;
    height: 40px;
    background-color: #4286F5;
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 5px grey;
    border: none;
    font-size: 21px;
    margin: 5px;
}
.click:active {
    outline: solid skyblue 1px;
    box-shadow: -2px -2px 5px grey;
}
