body {
    text-align: center;
}
h1 {
    font-size: 35px;
}
span {
    font-size: 20px;
    color: darkgreen;
}
#playground {
    height: 500px;
    width: 500px;
    margin: 20px auto 25px;
}
.pieces {
    width: 121px;
    height: 121px;
    border: 2px solid grey;
    background-image: url("panda.jpg");
    background-size: 125px 125px;
    display: inline-block;
    margin: 0;
}
#switch {
    width: 120px;
    height: 40px;
    background-color: #4286F5;
    color: white;
    font-weight: bold;
    box-shadow: 4px 4px 5px grey;
    border: none;
    font-size: 21px;
}
