html, body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}
#at-plus-container {
    width: 200px;
    margin: 0 auto;
    height: 100%;
}
#bottom-positioner {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 200px;
    height: 300px;
    transition: 0.5s;
    overflow: visible;
}
#button {
    margin: 135px 85px;
    height: 30px;
    width: 30px;
}
#button:hover {
    margin: 115px 65px;
    height: 70px;
    width: 70px;
}
#info-bar, #control-ring-container {
    visibility: hidden;
    width: 30px;
    position: absolute;
    height: 30px;
    bottom: 100px;
    border-radius: 50%;
    transition: 0.5s;
}
#button #info-bar .page {
    color: white;
}
#button #info-bar .comment{
    font-size: 30pt;
}
#info-bar ul {
    height: auto;
    width: auto;
    padding: 0;
    opacity: 0;
}
#info-bar img {
    padding-right: 5px;
}
#button #info-bar .mine {
    color: #079E6E;
    display: inline;
}
ul {
    list-style: none;
    display: none;
}
.apb {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 85px;
    bottom: 135px;
    background-color: #9598BB;
    background-image: url("assets/images/atplus_white.png");
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}
.button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: darkgray;
}
.mask {
    background-image: url("assets/images/mask.png");
}
.history {
    background-image: url("assets/images/history.png");
}
.message {
    background-image: url("assets/images/message.png");
}
.setting {
    background-image: url("assets/images/setting.png");
}
.sign {
    background-image: url("assets/images/signout.png");
}
#button:hover ul {
    display: inline-block;
    height: auto;
    width: auto;
    opacity: 1;
    transition: 0.5s;
}
#button:hover #info-bar {
    bottom: 58%;
    left: 17%;
    position: absolute;
    text-align: center;
    visibility: visible;
    display: block;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    transition: 0.5s;
    background-color: #6D6D6D;
}
#button:hover .apb {
    background-color: rgba(48, 63, 159, 1);
    background-image: url("assets/images/atplus_green.png");
    width: 55px;
    height: 55px;
    left: 65px;
    margin: 0 auto;
    background-size: 80%;
    bottom: 115px;
}
#button:hover #control-ring-container {
    visibility: visible;
    bottom: 13%;
    left: 40%;
    position: absolute;
}